DATABASE_URL="postgre://postgres:password@localhost:5432/hrbs_db?sslmode=disable" 
BETTER_AUTH_SECRET="jq8RqijDKL4uUNTBWnSkzdl8hI0Gw2L0erSm9BO9pnI="
BETTER_AUTH_URL="http://localhost:3000"
PORT="3000"
ORIGIN="http://localhost:5173"